.swiperContainer {
    width: 100%;
    height: 100vh;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
@media (max-width: 600px) {
  .swiperContainer {
    height: 75vh; /* Ajustar a altura para mobile */
    margin-bottom: 0; /* Remover margem inferior */
  }
  
  .swiper-slide {
    height: 75vh; /* Ajustar a altura para mobile */
  }
}